.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 100vh;
  min-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  background-image: linear-gradient(to top, #DFFBFC, #9BC0D9);
}

.itempai {
  color: white;
  display: flex;

  background-color: #175DA3;
  height: 50px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px #092944cb;

}

.item {
  text-shadow: 2px 2px 3px black;
  color: white;
  height: 50px;
  width: 150px;
  margin: 0 1px;
  text-align: center;
  line-height: 50px;

}

.text {

  flex: 1 1 0;
  border-radius: 50px;
  color: #1D74CC;
  margin-top: 40px;
}

#img {
  width: 400px;
  height: 500px;
}

p {
  font-size: 1.5em;
  text-align: center;
  width: auto;
  background-color: #0B2F52;
  color: white;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.pé {
  background-color: #2289EF;
  color: azure;
  font-size: 1em;
  text-align: center;
}

.lista-produtos {
  color: black;
}

#list {

  background-color: white;

  border: 2px solid #175da386;
  margin-top: 5px;
  height: 300px;
  box-shadow: 1px 1px 5px #023e73cc;
}

.lista-produtos {
  display: flex;

  margin-top: 20px;
  margin-left: 5px;

  width: 1050px;
}

.lista-ordenada {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: rgba(248, 246, 246, 0.911);
  border-radius: 5px;
  height: 50px;
  padding: 5px;
}

#produtos-list {
  margin-top: 8px;
  border: white;
  width: 100px;
}

.foto-produto {
  margin-right: 5px;

  width: 200px;
  height: 200px;

}

#text-span {
  font-size: 2em;
}